# node js environment
PORT=5173
NODE_ENV=
LOG_LEVEL=

# Database Configurations
DATABASE_URL=
DATABASE_NAME=

# Neon API config
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=

# Neon Local Configurations
DELETE_BRANCH=

# JWT Configurations
JWT_SECRET_KEY=

# Arcjet Configurations
ARCJET_KEY=